html body{
    margin: 0%;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: #FFFFFF;
}
.headerContent{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    border: 0px solid green;
    width: 80%;
}
.logoContent{
    display: flex;
    flex-direction: row;
    align-items:center;
    border: 0px solid green;
    width:80%;
    margin-top: 10px;
 }
 .employee{
    color: green;
    font-weight: bolder;
    font-size: 18px;
 }
 .payroll{
    color:#42515F;
    font-weight:bolder;
    font-size: 17px;  
 }

 /* UC2 */
.mainContent{
    display: flex;
    flex-direction: column;
    min-height: 20px;
    background-color: #d0d4d5;
    background: linear-gradient(to right, #c0e4c9, #f49585);
    padding: 30px 10px;
    box-sizing: border-box;
}
.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-bottom: 25px;
    margin: 0 auto;
}
.emp-detail-text{
    font: normal;
    font-weight: bold;
    font-size: 24px;
    color: #0b355c;
    opacity: 1;
}
.emp-count{
    background-color: #82a70c;
    color: #FFFFFF;
    font-size: 14px;
    width: 24px;
    text-align: center;
    display: inline-block;
    border-radius: 35%;
}

.addButton{
    font: normal;
    font-size: 19px;
    width: 8%;
    color: #FFFFFF;
    opacity: 1;
    background: #369317;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    text-decoration: none;
}

/* UC3 */
.table-main{
    width: 80%;
    margin: 0 auto;
}
.table{
    width: 100%;
    border-spacing: 0 1px;
    min-width: 800px;
    border-spacing: 0 5px;
}
td, th{
    text-align: left;
    padding: 8px 9px;
}
td{
    font: normal;
    color: #36434f;
    opacity: 1;
    font-size: 17px;
}
th{
    background-color: #5a4bde;
    color: #FFFFFF;
    text-align: left;
    border-radius: 3px 3px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}
tr:not(:first-child){
    background-color: #fff7f7;
    border-radius: 5px;
    margin-bottom: 2px;
}
tr{
    border-collapse: separate;
    border-spacing: 0 15px;
}
td img{
    cursor: pointer;
}

.dept-label{
    display: inline-block;
    padding: 3px 10px;
    background-color: #c0e4c9;
    border-radius: 60%;
    font-size: 14px;
    width: fit-content;
    text-align: center;
    margin-bottom: 2px;
}
#iconAction{
    background-color: #edf2e1;
    border-radius: 10px;
}