html body{
    margin: 0%;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: #FFFFFF;
}
.headerContent{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    border: 0px solid green;
    width: 80%;
}
.logoContent{
    display: flex;
    flex-direction: row;
    align-items:center;
    border: 0px solid green;
    width:80%;
    margin-top: 10px;
 }
 .employee{
    color: green;
    font-weight: bold;
 }
 .payroll{
    color:#42515F;
    font-weight:bold;  
 }

 /* UC2 */
.mainContent{
    display: flex;
    flex-direction: column;
    min-height: 20px;
    background-color: #e5e2e2;
    padding: 30px 10px;
    box-sizing: border-box;
}
.headerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-bottom: 25px;
    margin: 0 auto;
}
.emp-detail-text{
    font: normal;
    font-weight: bold;
    font-size: 24px;
    color: #344453;
    opacity: 1;
}
.emp-count{
    background-color: #82a70c;
    color: #FFFFFF;
    font-size: 14px;
    width: 24px;
    text-align: center;
    display: inline-block;
    border-radius: 35%;
}

.addButton{
    font: normal;
    font-size: 19px;
    width: 8%;
    color: #FFFFFF;
    opacity: 1;
    background: green;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    text-decoration: none;
}

/* UC3 */
.table-main{
    width: 80%;
    margin: 0 auto;
}
.table{
    width: 100%;
    border-spacing: 0 1px;
    min-width: 800px;
}
td, th{
    text-align: left;
    padding: 8px 9px;
}
td{
    font: normal;
    color: #36434f;
    opacity: 1;
}
th{
    background-color: #42515F;
    color: #FFFFFF;
    text-align: left;
    border-radius: 3px 3px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}
tr:not(:first-child){
    background-color: #FFFFFF;
    border-radius: 5px;
}
td:first-child{
    display: flex;
    align-items: center;
}
td img{
    cursor: pointer;
}
td img:first-child{
    margin-right: 10px;
}
.dept-label{
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    background-color: #bde244;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 5px;
    width: fit-content;
}
#iconAction{
    background-color: #edf2e1;
    border-radius: 10px;
}