body {
    margin: 0;
    height: 100;
    background-color: #b2e0ec;
}

.header {
    padding: 15px 0;
    margin: 0 auto;
}

.header-content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    width:55%;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items:center;
    width:100%;
    margin: 10px;
}

.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    color: green;
}
.emp-payroll {
    color: #42515f;
    font-weight: bold;
}
* {box-sizing: border-box;}
/* UC2 */
.form-content {
    min-height: 200px ;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.form {
    width: 55%;
    padding: 44px 66px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1; 
    background-color: white;
}

.form-head {
    font: normal normal bold 24px/37px Times;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
    margin-right: 20px;
}

.name {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
error-output{
    color: red;
    font-style: italic;
    margin-left: 10px;
    font-size: 15px;
}

/* UC3 */
.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

.input {
    width: 100%;
}

/*Increase radio button's size*/
input[type='radio']{
    width: 15px;
    height: 15px;
}
/*Increase checkbox size*/
input[type='checkbox']{
    width: 15px;
    height: 15px;
}

/* UC5 */
select {
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    font: normal normal normal 17px serif;
    color: #42515f;
    background-color: transparent;
    margin-right: 15px;
}

/* UC6 */
.buttonParent {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #42515f;
    opacity: 1;
    font-weight: 500;
    min-width: 140px;
    padding: 7px 7px;
    border: 1px solid #707070;
    cursor: pointer;
}

.submitButton {
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #707070; 
    margin-right: 30px;
}

.submitButton:hover {
    background: #65c830;
    color: #f5f5f5;
}

.resetButton {
   border-radius: 10px;
   background-color: #f5f5f5;
   margin-right: 30px;
   border: 1px solid #707070;
}

.cancelButton {
    text-decoration: none; 
    text-align: center;
    background-color:#f5f5f5;
    border: 1px solid #707070;
    border-radius: 5px;
}

.submit-reset {
    display: flex;
    align-items: center;
}

.resetButton:hover{
    background-color: grey;
    color: #f5f5f5;
 }
 .cancelButton:hover{
    background-color: grey;
    color: #f5f5f5;
 }

/* Adding Media Queries */

@media only screen and (max-width: 960px) {
    #name {
        box-sizing: border-box;
    }
    .profile-radio-content {
          flex-wrap: wrap;
          display:flex;
    }
    .profileDiv {
          width: 100%;
          display: block;
    }
    .form {
          width: 85%; 
          padding: 44px 20px;
          margin-top: 10px;
    }
    .profile-radio-button {
          flex-wrap: wrap;
    }
    .cancelButton {
          margin-left: 0px;
    }
}

@media only screen and (max-width: 480px) { 
    .uploadButton {
       justify-content: flex-start;
    }
    .profile-radio-button {
       flex-wrap: wrap;
    }
    .profile-radio-content {
        flex-wrap: wrap;
        display:block;
    }
    #male{
        display: flex;
    }
    .submit-reset {
       width: 100%; 
       display: flex; 
       flex-grow: 1; 
       flex-direction: row-reverse; 
       justify-content: space-between; 
       margin-bottom: 20px;
       display: flex;
    }
    .submitButton {
       margin: 0;
    }
    .buttonParent {
       flex-direction: column-reverse; 
       align-items: flex-start;
    }
    .checkbox{
        width: 100%;
        display: block;
    }
}
